body {
    font-family: sans-serif;
    background: url("../Content/image/darkwood.png") repeat;
    text-align: center;
}

button {
    font-weight: 700;
    border-radius: 5px;
    background-color: #369196;
    border: none;
    height: 25px;
    margin-top: -10px;
}

button:hover {
    background-color: #48C0C7;
    border: none;
}

#logo {
    font-family: 'Lobster Two', cursive;
    font-size: 100px;
    color: black;
    margin: 0px;
}


/*----------GAMEBOARD----------*/

.box {
    background: url("../Content/image/lightwood.png") repeat;
    padding-bottom: 10px;
}


.gameBoard {
    width: 660px;
    margin: auto;
    margin-bottom: 3px;
}

.container {
    background-color: black;
}

#msg {
    margin: 3px;
}

table {
    border: 1px black solid;
    width: 1000px;
}


td {
    background-color: #969696;
    border-top: 3px #312A3B solid;
    border-left: 3px #312A3B solid;
    height: 70px;
    width: 70px;
    empty-cells: show;
}

tr td:last-child {
    border-right: 3px #312A3B solid;
}

tr:last-child td {
    border-bottom: 3px #312A3B solid;
}

.grid_container {
    width: 200px;
    margin: auto;


}


/*----------PLAYERS----------*/


.player1 {
    background-color: #7F0000;
}

.player2 {
    background-color: #269DBC;
}

#player1Id {
    
}

#player1Id {
    
}

/*.active {
    background-color: #7F0000;
}*/

/*--------WALL BEHAVIOUR-------*/

.hover-wall-top {
    background-color: #696969;
    border-top: 3px solid yellow;
}

.wall-left {
    border-left: 3px solid yellow;
}

.hover-wall-left {
    background-color: #696969;
    border-left: 3px solid yellow;
}

.wall-top {
    border-top: 3px solid yellow;
}

.draggable {
    border: 1px solid black;
    padding: 5px;
}

