<body class="container clearfix">
    <div class="box">
        <div>
            <h1 id="logo">Corridor</h1>
        </div>
        <div class="grid_1">
            <span id="player1Id">Player1</span>
        </div>
        <div class="grid_1">
            <span id="player2Id">Player2</span>
        </div>
        <div id="turn">Turn: <span id="player-turn"></span></div>
        <div>
            <table class="gameBoard">
            </table>
        </div>
        <div>
            <textarea id="msg" rows="3" cols="50" placeholder="Game messages..."></textarea>
        </div>
        <div>
            <button>Move</button>
            <button class="draggable">Vertical Wall</button>
            <button class="draggable">Horizontal Wall</button>
        </div>
    </div>
    <script src="~/Scripts/application.js"></script>
</body>
